{% extends 'base.html' %}

{% block title %}
Report
{% endblock %}

{% block body %}
    <h1>Report of Monaco</h1>
{% endblock %}

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Abbreviation</th>
      <th scope="col">Company name</th>
      <th scope="col">Racer Name</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row">1</th>
      <td>SVF</td>
      <td>VBM</td>
      <td>SVM</td>
      <td>KRF</td>
      <td>FAM</td>
      <td>CLS</td>
      <td>SPF</td>
      <td>RGH</td>
      <td>PGS</td>
      <td>CSR</td>
      <td>NHR</td>
      <td>BHS</td>
      <td>MES</td>
      <td>LSW</td>
      <td>KMH</td>
      <td>SSW</td>
      <td>LHM</td>
      <td>EOF</td>
      <td>DRR</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Sebastian Vettel</td>
      <td>Valtteri Bottas</td>
      <td>Stoffel Vandoorne</td>
      <td>Kimi Raikkonen</td>
      <td>Fernando Alonso</td>
      <td>Charles Leclerc</td>
      <td>Sergio Perez</td>
      <td>Romain Grosjean</td>
      <td>Pierre Gasly</td>
      <td>Carlos Sainz</td>
      <td>Nico Hulkenberg</td>
      <td>Brendon Hartley</td>
      <td>Marcus Ericsson</td>
      <td>Lance Stroll</td>
      <td>Kevin Magnussen</td>
      <td>Sergey Sirotkin</td>
      <td>Lewis Hamilton</td>
      <td>Esteban Ocon</td>
      <td>Daniel Ricciardo</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ferrari</td>
      <td>Mercedes</td>
      <td>McLaren Renault</td>
      <td>Ferrari</td>
      <td>McLaren Renault</td>
      <td>Sauber Ferrari</td>
      <td>Force India Mercedes</td>
      <td>Haas Ferrari</td>
      <td>Scuderia Toro Rosso Honda</td>
      <td>Renault</td>
      <td>Renault</td>
      <td>Scuderia Toro Rosso Honda</td>
      <td>Sauber Ferrari</td>
      <td>Williams Mercedes</td>
      <td>Haas Ferrari</td>
      <td>Williams Mercedes/td>
      <td>Mercedes</td>
      <td>India Mercedes</td>
      <td>Red Bull Racing Tag Heuer</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>01:04.415</td>
      <td>01:12.434</td>
      <td>01:12.463</td>
      <td>01:12.639</td>
      <td>01:12.657</td>
      <td>01:12.829</td>
      <td>01:12.848</td>
      <td>01:12.930</td>
      <td>01:12.941</td>
      <td>01:12.950</td>
      <td>01:13.065</td>
      <td>01:13.179</td>
      <td>01:13.265</td>
      <td>01:13.323</td>
      <td>01:13.393</td>
      <td>07:12.706</td>
      <td>12:12.460</td>
      <td>17:13.028</td>
      <td>20:12.013</td>
    </tr>
  </tbody>
</table>
